body * {
  font-family: 'Open Sans', sans-serif;
}

.bg-suricata {
  background-color: #e83e8c;
}

.logo-h {
  height: 2.5em;
}

footer {
  background-color: #e83e8c;
  text-align: center;
}

.logo-footer-h {
  height: 5em;
}

.h1-nuestros-productos {
  color: #707070;
  font-weight: 700;
  margin: 1em 0;
}

.sup-footer {
  margin-bottom: 0;
}

h5 {
  font-weight: 700;
}